<h1>Lista de Produtos</h1>

<div class="row">
    <div class="col-md-2">
        <a class="btn btn-info" asp-controller="Titulo" asp-action="Novo">Cadastro de titulo</a>
    </div>
      <div class="col-md-2">
        <a class="btn btn-info" asp-controller="Titulo" asp-action="Novo">Parcelas</a>
    </div>
    
</div>