@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="text-center">Top da Leste</h1>
    <h2 class="text-center mr-2">Infantil<h2>
<div>
    <div class="row">
    <div class="col">
    <div class="card" style="width: 500px; ">
  <img src="https://images-americanas.b2w.io/produtos/01/00/img/1725654/8/1725654802_1GG.jpg" class="card-img-top" alt="Roupa masculina infatil pogue">
  <div class="card-body">
    <h5 class="card-title">R$50,00</h5>
    <p >Conjutinho top para ir ao shopping só na Top Leste.</p>
    
  </div>
</div>
</div>
 <div class="col">
    <div class="card" style="width: 500px; ">
  <img src="http://boadicadebeleza.com.br/wp-content/uploads/2019/10/Roupas-listradas.jpg" class="card-img-top" alt="Roupa feminina infantil moda mosquito">
  <div class="card-body">
    <h5 class="card-title">R$70,00</h5>
    <p >Moda oculos mosca só na Top Leste.</p>
    
  </div>
</div>
</div>
 <div class="col my-2">
    <div class="card" style="width: 500px; ">
  <img src="https://images-americanas.b2w.io/produtos/2088089635/imagens/roupa-cosplay-do-homem-aranha-infantil-longa-guerra-infinita-tamanho-m/2088089635_1_large.jpg" class="card-img-top" alt="Roupa homem-aranha-infantil">
  <div class="card-body">
    <h5 class="card-title">R$100,00</h5>
    <p >Homem aranha brabo! só na Top Leste.</p>
    
  </div>
</div>
</div>
   <div class="col my-2">
    <div class="card" style="width: 500px; ">
  <img src="https://i.zst.com.br/thumbs/51/7/2e/1364471667.jpg" class="card-img-top" alt="Roupa feminina pro shopping">
  <div class="card-body">
    <h5 class="card-title">R$50,00</h5>
    <p >Conjutinho para sair no shopping só na Top Leste.</p>
    
  </div>
</div>
</div>

</div>
<h2 class="text-center mr-1">Juvenil<h2>
  <div>
    <div class="row">
    <div class="col">
    <div class="card" style="width: 500px; ">
  <img src="https://rovitex.vteximg.com.br/arquivos/ids/292829-500-500/Calca-Pantacourt-Feminina-Listrada-Rovitex-Teen-Preto.jpg?v=637393675546030000" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">R$50,00</h5>
    <p >Conjutinho top para ir ao shopping só na Top Leste..</p>
    
  </div>
</div>
</div>
 <div class="col">
    <div class="card" style="width: 500px; ">
  <img src="https://rovitex.vteximg.com.br/arquivos/ids/276714-500-500/601945-539-00.jpg?v=637358998962530000" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">R$70,00</h5>
    <p >Conjutinho top para ir ao shopping só na Top Leste..</p>
    
  </div>
</div>
</div>
 <div class="col my-2">
    <div class="card" style="width: 500px; ">
  <img src="https://rovitex.vteximg.com.br/arquivos/ids/313660-500-500/Jaqueta-Juvenil-Feminina-Rovitex-Teen-Preto.jpg?v=637509746373570000" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">R$100,00</h5>
    <p >Conjutinho top para ir ao shopping só na Top Leste..</p>
    
  </div>
</div>
</div>
   <div class="col my-2">
    <div class="card" style="width: 500px; ">
  <img src="https://rovitex.vteximg.com.br/arquivos/ids/292700-500-500/Camiseta-Masculina-Illusion-Rovitex-Teen-Preto.jpg?v=637393661016600000" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">R$50,00</h5>
    <p >Conjutinho top para ir ao shopping só na Top Leste.</p>
    
  </div>
</div>
</div>

<h2 class="text-center">Adulto</h2>
  <div>
    <div class="row">
    <div class="col">
    <div class="card" style="width: 500px; ">
  <img src="https://images-americanas.b2w.io/produtos/01/00/img/1958621/9/1958621956_1GG.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">R$50,00</h5>
    <p >Camiseta fogarel gratuito só na top Leste.</p>
    
  </div>
</div>
</div>
 <div class="col">
    <div class="card" style="width: 500px; ">
  <img src="https://images-americanas.b2w.io/produtos/01/00/sku/35212/3/35212315_1GG.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">R$70,00</h5>
    <p >Conjutinho top para ir ao shopping só na Top Leste.</p>
    
  </div>
</div>
</div>
 <div class="col my-2">
    <div class="card" style="width: 500px; ">
  <img src="https://images-shoptime.b2w.io/produtos/01/00/img/2070568/0/2070568072_1GG.jpg" class="card-img-top" alt="Camisa do mengo">
  <div class="card-body">
    <h5 class="card-title">R$200,00</h5>
    <p >Camisa do mengo só na Top leste.</p>
    
  </div>
</div>
</div>
   <div class="col my-2">
    <div class="card" style="width: 500px; ">
  <img src="https://images-americanas.b2w.io/produtos/01/00/img/1761131/4/1761131401_1GG.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">R$50,00</h5>
    <p >Conjutinho top para ir ao shopping só na Top Leste.</p>
    
  </div>
</div>
</div>
  </div>
</div>
</div>

