@model WebApp.Models.RelatorioViewModel

<h1>Titulos a pagar</h1>

<button>Tipo de Relatorio</button>


    


@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}