@model WebApp.Models.ConteudoViewModel

<h1>Cadastro de Conteudo</h1>

<form asp-action="Novo">
    <div class="card">
        <div class="card-header">Informações sobre Conteudo</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label asp-for="Titulo"></label>
                    <input type="text" asp-for="Titulo" class="form-control" />
                    <span asp-validation-for="Titulo" class="text-danger"></span>
                </div>
                <div class="col-md-6 col-sm-12">
                    <label asp-for="descricao"></label>
                    <input type="text" asp-for="descricao" class="form-control" />
                    <span asp-validation-for="descricao" class="text-danger"></span>
                </div>
    
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label asp-for="DataDoCadastro"></label>
                    <input type="date" asp-for="DataDoCadastro" class="form-control" />
                    <span asp-validation-for="DataDoCadastro" class="text-danger"></span>
                </div>
                <div class="col-md-6 col-sm-12">
                    <label asp-for="Texto"></label>
                    <input type="text" asp-for="Texto" class="form-control" />
                    <span asp-validation-for="Texto" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 mb-3">
                    <label asp-for="LinkImagem"></label>
                    <input type="file" asp-for="LinkImagem" class="form-control" />
                </div>
                <div class="col-md-6 col-sm-12">
                    <label asp-for="tipoDeConteudo"></label>
                    <input type="text" asp-for="tipoDeConteudo" class="form-control" />
                    <span asp-validation-for="tipoDeConteudo" class="text-danger"></span>
                </div>
                 <div class="row">
                
                
        </div>
       
        <div class="card-footer">
            <div class="row ">
                <div class="col-md-12">
                    <input type="submit" value="Gravar" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</form>

<hr />

<div class="row">
    <div class="col-md-2">
        <a class="btn btn-dark" asp-controller="Conteudo" asp-action="Index">Voltar</a>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
